{% extends 'dashboard.html.twig' %}

{% block title %}Mis Compras{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 Dubai Light;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>


    <div class="pt30 pb30 example-wrapper">
        <div class="content-wrapper">
            {% for message in app.flashes('compra_exito') %}
                <div class="alert alert-success bg-success text-white" role="alert">
                   <strong>{{ message }}</strong>
                </div>
            {% endfor %}
            <div class="page-header mt-4 mb-4">
                <h3 class="page-title">
                    Lista de mis compras
                </h3>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <table class="table table-success table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Direccion</th>
                                        <th scope="col">Total Compra</th>
                                        <th scope="col">Total Impuesto</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for compra in compras %}
                                        <tr>
                                            <th scope="row"><a href="{{ path('show_compra_suministro', {id: compra.id}) }}">
                                                    {{compra.id}}</a> </th>
                                            <td>{{compra.fecha}}</td>
                                            <td>{{compra.direccion}}</td>
                                            <td>{{compra.totalcompra}}</td>
                                            <td>{{compra.totalimpuesto}}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="{{ path('app_compra_suministro') }}" class="btn btn-success float-right"><strong class="mr-2">
                                    Regresar
                                </strong><i class="text-dark fa fa-reply"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


