{% extends 'dashboard.html.twig' %}

{% block title %}Registrar Producto{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 900px;
            width: 95%;
            font: 18px/1.5 Dubai Light;
        }

        #totales{
            font: 14px/1.5 Dubai Light;
        }
    </style>

    <div class="example-wrapper">
        <div class="card text">
            <div class="card-header">
                <strong>Registrar Producto</strong>
            </div>
            {{ form_start(formulario) }}
                <div class="card-body">
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="nombre">Nombre</label>
                                {{ form_widget(formulario.nombre, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-4">
                                <label for="">Precio</label> <br>
                                {{ form_widget(formulario.precio_unitario, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-4">
                                <label for="">Stock</label> <br>
                                {{ form_widget(formulario.stock, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-8">
                                {{ form_widget(formulario._token) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_widget(formulario.Registrar, {'attr': {'class': 'btn btn-primary'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(formulario) }}
        </div>
    </div>


{% endblock %}
